PidFile=/var/run/zabbix/zabbix_agentd.pid
LogType=file
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=100
DebugLevel=3
EnableRemoteCommands=0
Server={{ zabbix_server_ip }}
ListenPort=10050
ListenIP={{ ansible_default_ipv4.address }}
StartAgents=3
ServerActive={{ zabbix_server_ip }}
HostMetadata=linux
RefreshActiveChecks=120
BufferSend=5
BufferSize=100
MaxLinesPerSecond=100
Timeout=3
AllowRoot=0
Include=/etc/zabbix/zabbix_agentd.d
UnsafeUserParameters=0
LoadModulePath=/usr/lib/modules
